body{
	font-family: arial;
}

*{
	padding: 0;
	margin: 0;
}
ul,ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
img{
	width: 100%;
	height: auto;
}
.header{
	left: 0;
	right: 0;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 99;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;   
}
.flexbox{
	display: flex;
}
.top-header{
	border-bottom: 1px solid #918b8b;
}
.wrap-address-social{
	justify-content: space-between; 	
}
.wrap-address .link {
	padding: 10px 15px;
	color: #fff;
	margin-top: 5px;
}
.wrap-address p{
    color: #fff;
    padding: 0 10px;
}
.fas {
	padding: 0 10px;
}
.wrap-address a:hover {
    color: #007bff;
}	
.wrap-social .fab{
    color: #fff;
    margin-left: 10px;
    padding: 10px 0;
}
.wrap-social .fas{
	color: #fff;
	margin-left: 10px;
    border-left: 1px solid #918b8b;
    border-right: 1px solid #918b8b;
    padding: 15px;
}
.wrap-social a:hover .fab{
	color: #007bff;
}
.wrap-social a:hover .fas{
	color: #007bff;
}
.wrap-logo-menu{
	padding: 20px 0;
	align-items: center;
	margin-right: 20px;
}	
.list-menu{
	margin-left: 100px;
}
.list-menu .item-menu{
	margin-right: 20px;
	border-right: 1px #fff;
	padding-right: 20px;
	position: relative;
}
.list-menu .item-menu:last-child{
    border-right: none;
    margin-right: 0;
} 	
.list-menu .item-menu a{	
	color: #fff;
	display: block;
	padding: 10px 0;
	font-weight: 600;
}	
.list-menu .item-menu a:hover{
	color: #f56960;
}
.list-menu-child{
	display: none;
	background-color: #fff;
    width: 200px;
    opacity: 0;
    transition: 0,2s;
}
.list-menu .item-menu:hover .list-menu-child,
.list-menu .item-menu a:hover + .list-menu-child{
	display: block;
	position: absolute;
	top: 28px;
	left: 0;
	opacity: 1;
}
.list-menu-child .item-menu-child a{
	padding: 13px 12px;
	color: #000;
}
.list-menu-child .item-menu-child a:hover{
	background-color: #1a73eb;
	color: #fff;
}
.button-primary{
	margin-left: 279px;
    font-size: 12px;
    background-color: #F56960;
    padding: 10px 24px;
    color: #fff;
}
.button-primary:hover{
	background-color: #1a73eb; 
}
.sec-banner{
	position: relative;
}
.sec-banner .banner-1 {
	height: 800px;
	z-index: -1;
}
.sec-banner .wrap-banner{
	width: 100%;
	height: 800px;
	position: relative;
}
.sec-banner .overlay{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.text-banner{
	position: absolute;
	max-width: 1000px;
	bottom: 200px;
	left: 25%;
	text-align: center;
	z-index: 11;
}
.wrap-text-banner .title-lg-banner{
	font-size: 80px;
	color: #fff;
    margin-bottom: 30px;
    font-weight: 900;
    line-height: 1.1;
}
.wrap-text-banner .text-des-banner{
	color: #fff;
	font-size: 18px;
	margin-bottom: 45px;
}
.wrap-btn-link{
	margin-top: 70px;
	text-align: center;	
}
.wrap-btn-link a{
	color: #fff;
	background-color: #F56960;
	padding: 15px 30px;
	font-size: 15px;
	font-weight: 600;
	width: 206px;
}
.wrap-btn-link a:hover{
	background-color: #2c75ba;
}

.sec-search .wrap-col-search{
	background : #fff;
	padding: 30px;
	box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.08);
    margin-top: -58px;
    position: absolute;
}
.wrap-col-search .input-group{
	margin-right: 20px;
}
.wrap-col-search p{
	margin-bottom: 10px;
	color: #3e3e3e;
}
.wrap-col-search .ip-name{
	background-color: #f6f6f6;
	padding: 15px 30px;
	border: 1px solid #f8f8f8;
	width: 150px;
}
.input-group-now{
	font-size: 15px;
	background-color: #F56960;
	width: 150px;
	padding: 15px 30px; 
	margin-top: 30px;

}
.input-group-now a{
	color: #fff;
	margin-left: 25px
}
.sec-search .input-group-now:hover{
	background-color: #2c75ba;
}
.sec-destination{
	margin-top:150px;
}
.destination-heading{
	margin-bottom: 50px;
}
.wrap-destination .popu-group{
	color: #F56960;
	font-size: 15px;
	position:  relative;
	padding-left: 80px;
	width: 240px;
	margin-bottom:22px;
}
.wrap-destination .popu-group::before{
	background-color: #F56960;
    content: "";
    height: 2px;
    width: 70px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
}
.section-disc h2{
	margin-right: 50px;
	color: #101F46; 
	font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
}
.section-disc p{
	width: 450px;
	color: #383838;
	line-height: 1.6;
}
.wrap-content-mountain .desti-item{
	width: 100%;  
}
.desti-item{
	position: relative;
	margin-right: 10px;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.destination-inner .thailand{
	position: relative;
}

.desti-item .meta-cat{
	position: absolute;
    top: 25px;
    left: 40px;
    padding: 7px 24px;
    font-weight: 700;
    font-size: 15px;
    background-color: #0f8dba;
}
.desti-item .meta-cat a{
	color: white;
}
.desti-item .meta-cat:hover{
	background-color: #F56960; 
}
.meta-cat-1{
	top: 85px;
}
.destination-inner .desti-content {
	position: absolute;
	bottom: 25px;
    margin-left: 20px;
}

.destination-inner .desti-content a{
	color: #fff;
    font-size: 23px;
    font-weight: 700;
}

.desti-content .fas{
	color: #fff;
	padding: 0;
	margin-top: 10px;
}
.desti-item1{
	top: 6%;
}
.package-heading{
	text-align: center;
	margin-bottom: 50px;

}
.wrap-top-package{
	margin-top: 140px;
}
.wrap-top-package .package-group{
	color: #F56960;
	font-size: 15px;
	position: relative;
}
.wrap-top-package .package-group::before{
	background-color: #F56960;
    content: "";
    height: 2px;
    width: 70px;
    margin-right: 10px;
    position: absolute;
    top: 50%;
   	left: 420px;
}
.package-section{
	padding-bottom: 100px;
}
.section-disc-package{
	margin-top: 40px;
	width: 750px;
    padding-left: 220px;
}

.section-disc-package p{
	margin-top: 20px;
	color: #383838;
	line-height: 1.6;
}
.section-disc-package h2{
	color: #101F46; 
	font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
}
.package-inner .packege-wrap{
   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
   margin-right: 22px;
   margin-bottom: 24px;
}
.packege-wrap{
	position: relative;
}
.package-price{
    background-color: #F56960;
    position: absolute;
    top: 20px;
    right: 12px;   
}
.package-price h6{
	color: #fff;
	padding: 8px 16px;
	margin-bottom: 0;
}
.package-price h6 span{
	font-family:cursive;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
}
.package-meta {
    background-color: #0791BE;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -25px;
    padding: 15px 0;
    position: relative;
}
.package-meta li{
	color: #fff;
    display: inline-block;
    font-size: 13px;
    line-height: 1.1;
    padding: 0 12px;
    position: relative;
    margin-left: 2px;
}
.fas-meta {
   	border-left: 1px solid #BBBBBB;
   	border-right: 1px solid #BBBBBB;
    line-height: 0.8;
    position: absolute;
    right: -3px;
}
.package-content{
    padding: 0 30px 0;
}
.package-content h3{
	font-size: 23px;
	font-weight: 700;
	margin-bottom: 15px;
}
.package-content a{
	color: #101f46;
}
.package-content a:hover{
	color: #2C75BA;
}
.review-package .review-text {
    font-size: 13px;
    color: #787878;
    line-height: 1.1;
    margin-right: 10px;
}
.package-content p{
	margin-top: 20px;
    color: #383838;
    line-height: 1.6;
}
.review-package .fas{
	color: #F56960;
    padding: 0;

}
.review-package .far{
	color: #ccd6df;
}
.wrap-book-list{
	border-top: 1px solid rgba(175, 175, 175, 0.1);
    text-align: center;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 27px; 
}
.wrap-book-list a{
	color: #383838;
	padding: 0 30px;
}
.wrap-book-list a .fas:hover{
	color: #0791BE;
}
.button-text .fas{
	color: #F56960;
	font-size: 13px;
	border-right: 1px solid rgba(175, 175, 175, 0.1);
	padding: 20px 20px;
	margin-left: -20px;
    padding-right: 50px;
}
.button-text .far{
	color: #F56960;
	font-size: 13px;
}
.wrap-book-list a .far:hover{
	color: #0791BE;
}
.callback-section {
    position: relative;
    margin-bottom: 140px;
    height: 760px;
}
.callback-section::before {
    background-color: #0791BE;
    content: "";
    width: 70%;
    height: 710px;
    position: absolute;
    right: 0;
}
.wrap-col .col-left{
	background-image: url("../images/img8.jpg");
	width: 475px;
	min-height: 540px;
	position: absolute;
	margin-top: 85px;
}
.col-left .video-button {
	left: 40%;
    top: 40%;
    position: absolute;
}
.video-button a i{
	background-color: #fff;
	border-radius: 100%;
	color: #0791BE;
	font-size: 24px;
	width: 95px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.callback-section .callback-inner{
    padding: 100px 0px 0px 65px;
    position: absolute;
    right: 307px;
    width: 665px;
    height: 720px;
}
.callback-inner .dash-style{
	color: #fff;
	font-size: 15px;
    position: relative;
    padding-left: 80px;
    width: 240px;
    margin-bottom: 50px;
}
.col-right .dash-style::before{
	background-color: #fff;
	content: "";
    height: 2px;
    width: 70px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
}
.section-disc-callback{
	margin-bottom: 50px;
}
.section-disc-callback h2{
	color: #fff;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
}
.section-disc-callback P{
	margin-top: 20px;
    color: #fff;
    line-height: 1.6;
    width: 600px;
}
.wrap-callback-counter{
	flex-wrap: wrap;
}
.wrap-callback-counter .callback-item{
	height: 103px;
	padding: 7px 7px 0px 7px;
	width: calc(100% * (1/2) - 50px);
	border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.wrap-callback-counter .callback-icon{
	width: 52px;
}
.callback-item .callback-content{
	color: #fff;
	text-align: center;
    margin-left: 50px;
}
.callback-content .counter-no{
	font-size: 32px;
    line-height: 1.1;
    font-weight: 900;
}
.support-area{
    background-color: #ffffff;
    box-shadow: 0px 15px 55px -15px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 35px;
    margin-top: 9px;
    width: 465px;
    height: 70px;
}
.support-area .support-icon{
    width: 52px;
    margin-right: 26px;
}
.support-area h4{
    color: #383838;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 15px;
    font-family: math;
}
.support-area h3 a{
    color: #F56960;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 0;
}
.support-area h3 a:hover{
	color: #101F46;
}
.activity-section .package-group::before{
   	left: 440px; 
}
.activity-inner .row-activity{
	padding-left: 9px;
    padding-right: 9px;
    width: 193px;
    height: 174px;
}
.activity-inner .activity-item {
    border: 1px solid #D9D9D9;
    text-align: center;
    padding: 15px;
}
.activity-inner .activity-item .activity-icon a{
    margin-bottom: 15px;
    width: 143px;
    height: 74px;
}
.activity-icon{
	width: 92px;
	padding: 28px;
	height: 64px;
}
.activity-inner .activity-item h4 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.2;
}
.activity-inner .activity-item h4:hover{
	color: #101F46;
    font-family: sans-serif;
}
.activity-inner .activity-item p {
    margin-bottom: 0;
}